html {
  height: 100%;
  width: 100%;
}

body {
  background-color: lightgrey;
  font-family: Times New Roman, Helvetica, sans-serif;
  background-image: url("pd19-3-13116u-45299550.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

#NYC{
  padding: 20px;
  text-align: center;
  margin: 20px;
  border-radius: 5px;
  border-width: 10px;
  color: green;
  font-size: 80px;
}

.Message{
  text-align: center;
  font-size: 30px;
  color: #DC143C;
}

.button{
  background-color: yellow;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 300px;
  margin-top: 200px;
}

input{
  border-radius: 50px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  width: 800px;
  height: 80px;
  margin-left: 450px;


}



