html {
  height: 100%;
  width: 100%;
}

body {
  background-color: lightgrey;
  font-family: Times New Roman, Helvetica, sans-serif;
}

#NYC{
  background-color: yellow;
  padding: 20px;
  text-align: center;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#Message{
  text-align: center;
}

.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}


